<!doctype html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>StructureWatch : @ViewData["Title"]</title>
    <link rel="stylesheet" media="all" href="/assets/main.css"/>
</head>
<body>
<partial name="_HeaderPartial"/>

<div id="main">
    @RenderBody()
</div>
</body>
</html>