@page
@model  wilhe1m.StructureWatch.Pages.IndexModel
@{
}


<h1>StructureWatch</h1>
<p>Welcome to StructureWatch</p>

<form action="/Me/Notifications">
    <button>Look at Notifications</button>
</form>