@page
@{
    ViewData["Title"] = "lOGGING IN";
}
<h1>Logged in</h1>
<script>
    window.location = "/Me/Notifications/";
</script>
<noscript>
    Javascriptless users clikc <a href="/Me/Notifications/">here</a>
</noscript>