@page
@model  wilhe1m.StructureWatch.Pages.Me.CharacterModel
@{
    ViewData["Title"] = "Character List";
}

<h1>Authorized Characters</h1>
<p>Users on this list have Notifications lists that are monitored</p>
@if (Model.Characters.Count > 0)
{
    <table>
        <thead>
        <th>Pics</th>
        <th>Name</th>
        <th>id</th>
        <th>Remove</th>
        <th>Update</th>
        </thead>

        @foreach (var character in Model.Characters)
        {
            <partial name="_CharacterRowPartial.cshtml" model="character"/>
        }
    </table>
}
else
{
    <p>No Charactars found... are things good?</p>
}