@page
@model  wilhe1m.StructureWatch.Pages.Me.indexModel
@{
    ViewData["Title"] = User.Identity.Name;
}

<h1>Howdy, @User.Identity.Name</h1>
<p>Check out the Stuff</p>
<ul>
    <li>
        <a href="/Me/Notifications">Notifications</a>
    </li>
    <li>
        <a href="/Me/Characters">Characters</a>
    </li>
</ul>