@page
@model  wilhe1m.StructureWatch.Pages.Me.NotificiationsModel
@{
    ViewData["Title"] = "Notification List";
}
<script src="/assets/sw.js"></script>
<h1>Notifications List</h1>
<div class="flex-right">
    <form action="/api/Notifications">
        <button onclick="sw.pollOne()">Get Mine</button>
    </form>
    <form action="/api/Notifications/All">
        <button onclick="sw.pollAll()">Get All</button>
    </form>
    <form action="/Me/AllNotifications">
        <button>"eXPERT" vIEW</button>
    </form>


</div>
<p> A List of StructureImpendingAbandonmentAssetsAtRisk Notifications</p>
@if (Model.Notifications.Count > 0)
{
    <table>
        <thead>
        <th>Notify Date</th>
        <th>Type</th>
        <th>Abandon Date</th>
        <th>Location</th>
        <th>Action</th>
        </thead>

        @foreach (var not in Model.Notifications
            .Where(n => n.Type == "StructureImpendingAbandonmentAssetsAtRisk")
            .OrderByDescending(n => n.Timestamp)
            )
        {
            <partial name="_NotificationRowPartial.cshtml" model="not"/>
        }
    </table>
}
else
{
    <p>No notifications found... are things good?</p>
}