@page
@model  wilhe1m.StructureWatch.Pages.Me.structureModel
@{
    ViewData["Title"] =  @Model.Structure.Name;
    var SystemName = Model.Structure.Name.Substring(0, Model.Structure.Name.IndexOf(" -"));
}

<h1>Structure Detail: @Model.Structure.Name</h1>
<div class="flex-right">
    <form action="https://evemaps.dotlan.net/system/@(SystemName)">
        <button>DotLan @SystemName</button>
    </form>
    @* <form >
        <!-- This is currently disabled because there does not seem to be a simple way to get this data from the api -->
        <button><s>Corp Details</s></button>
    </form> *@
</div>
<p> Paste in to EVE notepad for clicky link: </p>
<textarea style="width:95%">@(Model.NotificationsAboutId.Count>0?Model.NotificationsAboutId[0].ParsedData["structureLink"]:"n/a")</textarea>

<p>First Seen:@Model.Structure.FirstSeen</p>


<h2>Notification(s) for this Structure</h2>
<table>
    <thead>
    <th>Notify Date</th>
    <th>Type</th>
    <th>Abandon Date</th>
    <th>Location</th>
    </thead>

    @foreach (var not in Model.NotificationsAboutId
        .OrderByDescending(n => n.Timestamp)
        )
    {
        <partial name="_NotificationRowPartial.cshtml" model="not"/>
    }
</table>