@page
@model  wilhe1m.StructureWatch.Pages.Me.NotificiationsModel
@{
    ViewData["Title"] = "Notification List";
}

<h1>Notifications List</h1>
<div class="flex-right" >
    <form action="/api/Notifications">
        <button>Get Mine!</button>
    </form>
    <form action="/api/Notifications/All">
        <button>Get All!</button>
    </form>
    
    
</div>
<p> A List of StructureImpendingAbandonmentAssetsAtRisk Notifications</p>
@if(Model.Notifications.Count >0){
    <table>
        <thead>
            <th>Notify Date</th>
            <th>Type</th>
            <th>Abandon Date</th>
            <th>Location</th>
        </thead>
    
    @foreach (var not in Model.Notifications
        .Where(n=> n.Type=="StructureImpendingAbandonmentAssetsAtRisk" )
        .OrderByDescending(n=>n.Timestamp)
    ){
        <partial name="_NotificationRowPartial.cshtml" model="not"/>
    }
    </table>
}
else{
    <p>No notifications found... are things good?</p>
}