@page
@model wilhe1m.StructureWatch.Pages.ErrorModel
@{
}
<h1>Oh dang...</h1>
<p>Probably just need a session change. or two.</p>

<h2>Error Details: @Model.exception.Message</h2>

@if(Model.exception.InnerException != null){
<h3>Inner Exception: @Model.exception.InnerException.Message</h3>
}
<!-- cheeky StackTrace-->
<!--@Model.exception.StackTrace -->