@page
@{
    ViewData["Title"] = "Unauthorized";
    Layout = "Shared/_Layout.cshtml";
}
<h1>Unauthorized.</h1>
<p>You totally can't do that unless you <a href="/api/SSO">login</a> with EVE SSO.</p>