  
[Unit]
Description=StructureWatch service
Wants=network.target
After=syslog.target network-online.target

[Service]
Type=simple
Restart=on-failure
RestartSec=10
User=your_user
WorkingDirectory=/path/to/StructreWatch
ExecStart=bash StructureWatch

[Install]
WantedBy=multi-user.target







