:root {
    --background:#333;
    --text:#fff;
    --links:#adf;
    --links-hover:#fae;
    --lines:#369;
    --vistited:#7ac;
    --selected:rgba(0,0,0,0.1)
}

html {
    background: var(--background);
    color: var(--text);
    font: 16px sans-serif;
}

a { color: var(--links); }

a:hover, a:active { color: var(--links-hover); }

a:visited { color: var(--vistited) }

#top_header nav{
    display: flex;
    flex-direction: row;
    justify-content:  space-between;
}

nav a img { height: 2em; }
thead, tr:nth-child(even) {background: var(--selected)}
button {
    background-color: var(--links);
    border: 1px solid var(--lines);
    color: var(--background);
    padding: 1ex 1em;
}

button:hover, button:active {
    background-color: var(--links-hover);
    border: 1px solid var(--links-hover);
    color: var(--background);
    padding: 1ex 1em;
}

.flex-right {
    display: flex;
    flex-direction: row-reverse;
    justify-content: end;    
}

.flex-right form { margin-left: 1em; }